<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplicacion ejemplo js vs Vue: con Vue</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app-vue.js" defer></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="column-sm">
            <form>
              <div class="form-group">
                <label for="lista">Lista de tareas</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  id="lista" v-model="taskText" placeholder="Escriba tarea" 
                  @keydown.enter.prevent="addTask()"
                />
                <h1>{{ msg }}</h1>
                <button
                  type="button"
                  class="btn btn-primary"
                  v-on:click="addTask"
                  :disabled="!taskText"
                >
                  Añade tarea
                </button>
                <ul>
                  <li v-for="task in tasks">{{ task }}</li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>